footer {
    padding-top: 35px;
}
.footer-text {
    text-align: center;
    font-family: $font1;
    font-size: 12px;
    font-weight: 400;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    transform: translateY(-10px);
}
.footer-social {
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: translateY(-10px);

}
a:visited {
    color: black;
}
a:active {
    color: black;
}

@media screen and (min-width: 800px) {
    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-social {
        padding-left: 0px;
        padding-right: 100px;
        display: inline;
        transform: translate(290px, 30px);
    }
    .footer-iconos {
        padding-left: 20px;
        padding-right: 20px;
        transform: translateY(-5px);
    }
    .footer-text {
        margin-top: 5px;
        text-align: start;
        float: left;
        padding-left: 100px;
        transform: translateY(20px);
    }
}