.logo {
    float: left;
    margin-top: 5px;
    height: 24px;
    width: 24px;
}

@media screen and (min-width: 800px) {
    .logo {
        margin-top: 15px;
        height: 36px;
        width: 36px;
    }
}